.contactBox {
  display: flex;
  @include d-flex(row, center, center);
  width: 100vw;
  height: 100vh;

  .left {
    width: 50vw;
    height: 100vh;
    background-color: $grey-color;
    display: flex;
    cursor: pointer;
    @include d-flex();

    &:hover button {
      border-radius: 1px;
      padding: 10px;
      height: 150px;
      width: 250px;
    }
    @include btn($secondary-color);
  }

  .right {
    width: 50vw;
    height: 100vh;
    background-color: $secondary-color;
    display: flex;
    cursor: pointer;
    @include d-flex();

    &:hover button {
      border-radius: 1px;
      padding: 10px;
      height: 150px;
      width: 250px;
    }

    @include btn($primary-color);
  }
}
@media screen and (max-width: 500px), screen and (max-width: 1000px) {
  .contactBox {
    display: flex;
    @include d-flex(column, space-between);
    // height: 200vh;
    
    .left {
      width: 100vw;
      height: 100vh;
    }
    .right {
      height: 100vh;
      width: 100vw;
    }
  }
}
