.myName {
  color: $primary-color;
  font-size: 9rem;
  font-weight: 10;
  transform: translateY(400px);
  transition: 2s all ease;
}
.myIntro {
  color: $primary-color;
  font-size: 2rem;
  transform: translateY(400px);
  transition: 2s all ease;
  font-family:$simple-font;
}
@media screen and (max-width: 800px) {
  .myName {
    font-size: 5rem;
  }

  .myIntro {
    font-size: 2rem;
  }
}
@media screen and (max-width: 500px) {
  .myName {
    font-size: 3rem;
    z-index: 1;
  }

  .myIntro {
    font-size: 1rem;
    z-index: 1;
  }
}
