.title {
  text-align: center;

  h5 {
    margin: auto;
    font-size: 2rem;
    color: $secondary-color;
    font-weight: 100;
    position: relative;
    z-index: 1;
    display: inline-block;

    &::after {
      content: "";
      width: 50px;
      height: 35px;
      background: linear-gradient($secondary-color, $primary-color);
      position: absolute;
      left: 0;
      top: -20px;
      z-index: -1;
      transform: rotate(10deg);
      border-top-left-radius: 35px;
      border-bottom-right-radius: 35px;
    }
  }

  h2 {
    font-size: 4rem;
    font-family: $simple-font;
  }
}

#aboutMe {
  display: flex;
  @include d-flex(row, space-evenly, center);
  flex-wrap: wrap;
  width: 100%;

  .introduction {
    width: 40%;

    h2 {
      font-size: 3rem;
      line-height: 50px;
    }

    h4 {
      font-size: 1.5rem;
      font-family: $simple-font;
    }

    p {
      font-size: 1.1rem;
      font-family: $simple-font;
    }
    @media screen and (max-width: 500px) {
      h2 {
        font-size: 2rem;
        line-height: 30px;
      }

      h4 {
        font-size: 1.3rem;
      }
      p {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }

  .aboutImg {
    max-width: 40%;
    border-radius: 10px;
    clip-path: polygon(6% 22%, 100% 0, 100% 100%, 93% 79%, 0 100%, 0 46%, 0 0);
  }
}

@media screen and (max-width: 500px) {
  #aboutMe {
    display: flex;
    @include d-flex(column, center, center);

    .introduction{
        width: 100vw;
        padding: 0px 55px;
        height: 50vh;
    }
  }
}
